@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.logo {
    color: #fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #393D83;
}
  
header .menu ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
  
header .menu li{
    list-style: none;
    font-weight: 600;
}
  
header .menu a{
    text-decoration: none;
    color: #fff;
    padding-right:2em;
    text-transform: uppercase;
    font-size: 1em;
}
  
header .menu a:hover{
    color: rgb(216, 185, 10);
}
  
/* ############################ */

.main {
    margin-top: 210px;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto;
}

/* AIRPORT Selector */
/* Dropdown Button */
.dropbtn {
	width: 180px;
	height: 40px;
	cursor: pointer;
	background: #fff;
	border: 2px solid #2c2e64;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	text-align: center;
	position: relative;
	display: inline-block;
	padding: 0px 4px;
	line-height: 38px;
	font-weight: bold;
}
  
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #f3f3f3;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 180px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    border-radius: 10px;
    border: 2px solid #2c2e64;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f3f3f3}
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* ####### */

.dropbtn2 {
	width: 180px;
	height: 40px;
	cursor: pointer;
	background: #fff;
	border: 2px solid #2c2e64;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	text-align: center;
	position: relative;
	display: inline-block;
	padding: 0px 4px;
	line-height: 38px;
	font-weight: bold;
}
  
/* Dropdown button on hover & focus */
.dropbtn2:hover, .dropbtn2:focus {
    background-color: #f3f3f3;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown2 {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 180px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    border-radius: 10px;
    border: 2px solid #2c2e64;
}

/* Links inside the dropdown */
.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}
  
/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {background-color: #f3f3f3}
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show2 {display:block;}

/* Arrivals & Departures */
/* Style the buttons that are used to open the tab content */
.tablinks {
	width: 180px;
	height: 40px;
	cursor: pointer;
	background: #FFFFFF;
	border: 2px solid #2c2e64;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	text-align: center;
	position: relative;
	display: inline-block;
	padding: 0px 4px;
	line-height: 38px;
	font-weight: bold;
}

.tablinks:hover {
    background-color: #f3f3f3;
}

/* Style the tab content */
.airport-table {
    border-collapse: collapse;
	font-size: 0.9em;
	min-width: 400px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.tabcontent thead tr {
	background-color: #393D83;
	color: #ffffff;
}
  
.tabcontent th,
.tabcontent td {
	padding: 12px 15px;
}
  
.tabcontent tbody tr {
	border-bottom: 1px solid #dddddd;
}
  
.tabcontent tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}
  
.tabcontent tbody tr:last-of-type {
	border-bottom: 2px solid #393D83;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

.footer-distributed{
	background-color: #202020;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 50px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h2{
	color:  #fff;
	margin: 0;
}

.footer-distributed .footer-links{
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	text-decoration: none;
	color: #fff;
	padding-right:0.5em;
	text-transform: uppercase;
	font-size: 1em;
  }
  
.footer-distributed .footer-links a:hover{
	color: rgb(216, 185, 10);
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 20px 0 12px;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #fff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #fff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #fff;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #fff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}