<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signUp.css">
    <link rel="stylesheet" href="../static/css/booking.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://kit.fontawesome.com/dc55c286ac.js" crossorigin="anonymous"></script>

    <title>AirVoyage</title>
</head>

<body>
  {% include "header.html" %}
  <form id="filters">
    <div>
      <label for="dateFrom">Date from:</label>
      <input type="date" id="dateFrom" name="dateFrom"></input>
      <input type="time" id="timeFrom" name="timeFrom"></input>
      <label for="dateTo">Date to:</label>
      <input type="date" id="dateTo" name="dateTo"></input>
      <input type="time" id="timeTo" name="timeTo"></input>
    </div>
    <div>
      <label for="from">From:</label>
      <select id="from" name="from">
        <option value="">Any</option>
        {% for airport in airports %}
          <option value="{{airport.address}}">{{airport.address}}</option>
        {% endfor %}
      </select>
      <label for="to">To:</label>
      <select id="to" name="to">
        <option value="">Any</option>
        {% for airport in airports %}
          <option value="{{airport.address}}">{{airport.address}}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit">Apply</button>
    
  </form>
  <table id="flights">
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Departure date</th>
      <th>Arrival</th>
    </tr>
    {% for flight in flights %}
      {% if not flight.isFinished %}
        <tr value="{{flight.id}}">
          <td>{{flight.airportFrom.address}} ({{flight.airportFrom.abbreviation}})</td>
          <td>{{flight.airportTo.address}} ({{flight.airportTo.abbreviation}})</td>
          <td>{{flight.departureDate.strftime('%Y.%m.%d %H:%M')}}</td>
          <td>{{flight.arrivalDate.strftime('%Y.%m.%d %H:%M')}}</td>
          {% if flight.id in bookedFlightIds %}
          <td>Booked</td>
          {% else %}
          <td><button class="book">Book</button></td>
          {% endif %}
        </tr>
      {% endif %}
    {% endfor %}
  </table>
  
  {% include "footer.html" %}
  <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/booking.js') }}"></script>
</body>

</html>