<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Departures&Arrivals.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://kit.fontawesome.com/dc55c286ac.js" crossorigin="anonymous"></script>
    <title>AirVoyage</title>
</head>

<body>
    {% include "header.html" %}

    <section class="main">
        <div id="Departures" class="tabcontent">
            <table class="airport-table">
                <thead>
                    <th>
                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn">Airport 4
                                <i class="fas fa-caret-down fa-lg"></i></button>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="../templates/d&aAirport1.html">Airport 1</a>
                                <a href="../templates/d&aAirport2.html">Airport 2</a>
                                <a href="../templates/d&aAirport3.html">Airport 3</a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div>
                            <button class="tablinks" onclick="openArrDep(event, 'Departures')" id="defaultOpen">
                                <i class="fas fa-plane-departure"></i> Departures</button>
                        </div>
                    </th>
                    <th>
                        <div>
                            <button class="tablinks" onclick="openArrDep (event, 'Arrivals')">
                                <i class="fas fa-plane-arrival"></i> Arrivals</button>
                        </div>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>

                <!--TABLE HEADER-->
                <thead>
                    <th>Departure</th>
                    <th>Scheduled time</th>
                    <th>Estimated time</th>
                    <th>Flight number</th>
                    <th>From</th>
                    <th>Sector</th>
                    <th>Notes</th>
                    </tr>
                </thead>
                <!--TABLE BODY-->
                <tbody>
                    <tr>
                        <th>10.08.2021</th>
                        <th>10:45</th>
                        <th>10:45</th>
                        <th>MFR484</th>
                        <th>City1 / CT1</th>
                        <th>T2</th>
                        <th>Boarding</th>
                    </tr>
                    <tr class="active-row">
                        <th>10.08.2021</th>
                        <th>10:50</th>
                        <th>10:55</th>
                        <th>DJ255</th>
                        <th>City2 / CT2</th>
                        <th>T1</th>
                        <th>Departed</th>
                    </tr>
                    <tr>
                        <th>10.08.2021</th>
                        <th>10:55</th>
                        <th>11:00</th>
                        <th>ER811</th>
                        <th>City3 / CT3</th>
                        <th>T1</th>
                        <th>Departed</th>
                    </tr>
                    <tr class="active-row">
                        <th>10.08.2021</th>
                        <th>11:05</th>
                        <th>11:05</th>
                        <th>MB544</th>
                        <th>City2 / CT2</th>
                        <th>T3</th>
                        <th>Departed</th>
                    </tr>
                    <tr>
                        <th>10.08.2021</th>
                        <th>11:10</th>
                        <th>11:15</th>
                        <th>DS562</th>
                        <th>City1 / CT1</th>
                        <th>T2</th>
                        <th>Departed</th>
                    </tr>
                    <tr class="active-row">
                        <th>10.08.2021</th>
                        <th>11:15</th>
                        <th>11:20</th>
                        <th>BE921</th>
                        <th>City2 / CT2</th>
                        <th>T2</th>
                        <th>Departed</th>
                    </tr>
                    <tr>
                        <th>10.08.2021</th>
                        <th>11:25</th>
                        <th>11:25</th>
                        <th>GNF905</th>
                        <th>City2 / CT2</th>
                        <th>T3</th>
                        <th>Boarding</th>
                    </tr>
                    <tr class="active-row">
                        <th>10.08.2021</th>
                        <th>11:30</th>
                        <th>11:35</th>
                        <th>BGT555</th>
                        <th>City3 / CT3</th>
                        <th>T1</th>
                        <th>Departed</th>
                    </tr>
                    <tr>
                        <th>10.08.2021</th>
                        <th>11:35</th>
                        <th>11:40</th>
                        <th>MTV633</th>
                        <th>City1 / CT1</th>
                        <th>T1</th>
                        <th>Departed</th>
                    </tr>
                    <tr class="active-row">
                        <th>10.08.2021</th>
                        <th>11:40</th>
                        <th>11:45</th>
                        <th>TME141</th>
                        <th>City2 / CT2</th>
                        <th>T1</th>
                        <th>Boarding</th>
                    </tr>
                    <tr>
                        <th>10.08.2021</th>
                        <th>11:45</th>
                        <th>11:45</th>
                        <th>VTW811</th>
                        <th>City3 / CT3</th>
                        <th>T2</th>
                        <th>Departed</th>
                    </tr>
                    <tr class="active-row">
                        <th>10.08.2021</th>
                        <th>11:50</th>
                        <th>11:55</th>
                        <th>RN500</th>
                        <th>City1 / CT1</th>
                        <th>T3</th>
                        <th>Departed</th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="Arrivals" class="tabcontent">
            <table class="airport-table">
                <thead>
                    <th>
                        <div class="dropdown2">
                            <button onclick="myFunction2()" class="dropbtn2">Airport 4
                                <i class="fas fa-caret-down fa-lg"></i></button>
                            <div id="myDropdown2" class="dropdown-content2">
                                <a href="../templates/d&aAirport1.html">Airport 1</a>
                                <a href="../templates/d&aAirport2.html">Airport 2</a>
                                <a href="../templates/d&aAirport3.html">Airport 3</a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div>
                            <button class="tablinks" onclick="openArrDep(event, 'Departures')" id="defaultOpen">
                                <i class="fas fa-plane-departure"></i> Departures</button>
                        </div>
                    </th>
                    <th>
                        <div>
                            <button class="tablinks" onclick="openArrDep (event, 'Arrivals')">
                                <i class="fas fa-plane-arrival"></i> Arrivals</button>
                        </div>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>

                <!--TABLE HEADER-->
                <thead>
                    <th>Arrival</th>
                    <th>Scheduled time</th>
                    <th>Estimated time</th>
                    <th>Flight number</th>
                    <th>From</th>
                    <th>Terminal</th>
                    <th>Status</th>
                </thead>
                <!--TABLE BODY-->
                <tbody>
                    <tr>
                        <th>07.08.2021</th>
                        <th>10:35</th>
                        <th>10:35</th>
                        <th>SH906</th>
                        <th>City3 / CT3</th>
                        <th>T3</th>
                        <th>Arrived</th>
                    </tr>
                    <tr class="active-row">
                        <th>07.08.2021</th>
                        <th>10:40</th>
                        <th>10:45</th>
                        <th>TV488</th>
                        <th>City3 / CT3</th>
                        <th>T1</th>
                        <th>Arrived</th>
                    </tr>
                    <tr>
                        <th>07.08.2021</th>
                        <th>10:55</th>
                        <th>11:10</th>
                        <th>BET920</th>
                        <th>City1 / CT1</th>
                        <th>T1</th>
                        <th>Delayed</th>
                    </tr>
                    <tr class="active-row">
                        <th>07.08.2021</th>
                        <th>10:50</th>
                        <th>10:50</th>
                        <th>WC152</th>
                        <th>City3 / CT3</th>
                        <th>T2</th>
                        <th>Landing</th>
                    </tr>
                    <tr>
                        <th>07.08.2021</th>
                        <th>10:55</th>
                        <th>11:00</th>
                        <th>SNR845</th>
                        <th>City1/ CT1</th>
                        <th>T3</th>
                        <th>Arrived</th>
                    </tr>
                    <tr class="active-row">
                        <th>07.08.2021</th>
                        <th>11:00</th>
                        <th>11:00</th>
                        <th>RHT521</th>
                        <th>City2 / CT2</th>
                        <th>T1</th>
                        <th>Landing</th>
                    </tr>
                    <tr>
                        <th>07.08.2021</th>
                        <th>11:05</th>
                        <th>11:10</th>
                        <th>BFG235</th>
                        <th>City3 / CT3</th>
                        <th>T1</th>
                        <th>Arrived</th>
                    </tr>
                    <tr class="active-row">
                        <th>07.08.2021</th>
                        <th>11:10</th>
                        <th>11:10</th>
                        <th>AN201</th>
                        <th>City1 / CT1</th>
                        <th>T3</th>
                        <th>Deboarding</th>
                    </tr>
                    <tr>
                        <th>07.08.2021</th>
                        <th>11:20</th>
                        <th>11:25</th>
                        <th>XB845</th>
                        <th>City2 / CT2</th>
                        <th>T1</th>
                        <th>Arrived</th>
                    </tr>
                    <tr class="active-row">
                        <th>07.08.2021</th>
                        <th>11:30</th>
                        <th>11:35</th>
                        <th>NXV380</th>
                        <th>City2 / CT2</th>
                        <th>T1</th>
                        <th>Deboarding</th>
                    </tr>
                    <tr>
                        <th>07.08.2021</th>
                        <th>11:45</th>
                        <th>11:45</th>
                        <th>VE914</th>
                        <th>City1 / CT1</th>
                        <th>T1</th>
                        <th>Deboarding</th>
                    </tr>
                    <tr class="active-row">
                        <th>07.08.2021</th>
                        <th>11:50</th>
                        <th>11:50</th>
                        <th>DV360</th>
                        <th>City1 / CT1</th>
                        <th>T3</th>
                        <th>Landing</th>
                    </tr>
                </tbody>
            </table>
        </div>

        <script>
            // Airport selector
            /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            function myFunction2() {
                document.getElementById("myDropdown2").classList.toggle("show2");
            }

            // Departures & Arrivals
            function openArrDep(evt, ArrDep) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(ArrDep).style.display = "block";
                evt.currentTarget.className += " active";
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
        </script>
    </section>

    
  {% include "footer.html" %}
  <script src="..static/js/script.js"></script>
</body>

</html>