<header>
  <h2 class="logo"> <a href="/">AirVoyage</a></h2>
  <div class="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="../templates/d&aAirport1.html">Departures & Arrivals</a></li>
      <li><a href="#">Booking</a></li>
      <li><a href="ShoppingCart.html"><i class="fas fa-shopping-bag fa-lg"> </a></i></li>

      <li><a href="/">Home</a></li>
      <li><a href="../templates/d&aAirport1.html">Departures & Arrivals</a></li>
      <li><a href="#">Booking</a></li>
      {% if isLoggedIn %}
      <li><a href="../templates/log_out.html">Log out</a></li>
      {% else %}
      <li><a href="../templates/signUp.html">Sign up</a></li>
      <li><a href="../templates/login.html">Log in</a></li>
      {% endif %}
      <li><a href="ShoppingCart.html"><i class="fas fa-shopping-bag fa-lg"> </a></i></li>

    </ul>
  </div>
</header>