<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://kit.fontawesome.com/dc55c286ac.js" crossorigin="anonymous"></script>
    <title>AirVoyage</title>
</head>

<body>
    {% include "header.html" %}
    
    <section class="showcase">
        <video src="static/img/GlobalFlights.mp4" muted loop autoplay></video>
        <div class="text">
            <h2>AirVoyage</h2>
            <h3>The Future of Flight</h3>
            <p>Building global airport to airline network solutions</p>
            <a href="/booking">Book now</a>
        </div>
        <ul class="social">
            <li><a href="https://www.facebook.com" class="fa fa-facebook fa-3x" aria-hidden="true"></a></li>
            <li><a href="https://www.twitter.com" class="fa fa-twitter fa-3x" aria-hidden="true"></a></li>
            <li><a href="https://www.instagram.com" class="fa fa-instagram fa-3x" aria-hidden="true"></a></li>
            <li><a href="https://www.linkedin.com" class="fa fa-linkedin fa-3x" aria-hidden="true"></a></li>
            <li><a href="https://www.github.com" class="fa fa-github fa-3x" aria-hidden="true"></a></li>
        </ul>
    </section>

    <section class="main">
        <div id="our-services">
            <h2>Our Services</h2>
            <p> We bring together global air travel networks<br>
                by connecting the worlds largest airports and airlines.</p>
            <div>
                <img src="static/img/ArrivalsDepartures.svg" alt="arrivals departures">
                <h3>Arivals & Departures</h3>
                <p> Track the arivals and
                    departures of planes from
                    airports all around the globe.
                </p>
                <a href="/arrivalsDepartures">Learn More <img src="static/img/arrow_forward_24px.svg" alt="arrow"></img></a>
            </div>
            <div>
                <img src="static/img/Tickets.svg" alt="tickets">
                <h3>Tickets</h3>
                <p>Book a ticket from the best airlines in
                    the world.
                    <a href="/booking">Learn More <img src="static/img/arrow_forward_24px.svg" alt="arrow"></img></a>
            </div>
            <img src="static/img/Apple Macbook Pro 13_ Silver.png" alt="Macbook">
        </div>
    </section>

    {% include "footer.html" %}
</body>

</html>