<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signUp.css">
    <link rel="stylesheet" href="../static/css/myTickets.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://kit.fontawesome.com/dc55c286ac.js" crossorigin="anonymous"></script>

    <title>AirVoyage</title>
</head>

<body>
  {% include "header.html" %}
  <div class="container">
   <select id="order" name="order">
      <option value="newest">Newest</option>
      <option value="oldest">Oldest</option>
    </select>
  </div>
  {% for ticket in tickets %}
  <div class="container">
    <h1>Ticket Nr. {{"{:09d}".format(ticket.id)}}</h1>
    <table id="{{ticket.id}}">
      <tr>
        <td>{{user.name}} {{user.surname}}</td>
        <td>Rez. Nr. {{"{:09d}".format(ticket.id)}}</td>
      </tr>
      <tr>
        <td>Lidojums</td>
        <td>{{ticket.flight.airportFrom.address}} ({{ticket.flight.airportFrom.abbreviation}}) - {{ticket.flight.airportTo.address}} ({{ticket.flight.airportTo.abbreviation}})</td>
      </tr>
      <tr>
        <td>Izlidošana</td>
        <td>{{ticket.flight.departureDate.strftime('%d.%m.%Y %H:%M')}}</td>
      </tr>
      <tr>
        <td>Ielidošana</td>
        <td>{{ticket.flight.arrivalDate}}</td>
      </tr>
      <tr>
        <td>Lidmašīna</td>
        <td>{{ticket.flight.airplane.model}}</td>
      </tr>
    </table>
    <button class='print'>Print</button>
    <button class='cancel'>Cancel flight</button>
  </div>
  {% endfor %}
  {% include "footer.html" %}

  <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/myTickets.js') }}"></script>
</body>

</html>