<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signUp.css">
    <link rel="stylesheet" href="../static/css/statistics.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://kit.fontawesome.com/dc55c286ac.js" crossorigin="anonymous"></script>

    <title>AirVoyage</title>
</head>

<body>
  {% include "header.html" %}
  <h1>Statistics</h1>
  <input id="monthSelector" type="month">
  <table id="flights">
    <tr>
      <th>Id</th>
      <th>Number</th>
      <th>Departure Date</th>
      <th>Arrival Date</th>
      <th>Airport From</th>
      <th>Airport To</th>
      <th>Airplane model</th>
      <th>Airplane seats</th>
      <th>Filled seats</th>
    </tr>
    {% for flight, airplane, airportFrom, airportTo in data %}
    <tr>
      <td>{{ flight.id }}</td>
      <td>{{ flight.number }}</td>
      <td>{{ flight.departureDate.strftime('%Y.%m.%d %H:%M') }}</td>
      <td>{{ flight.arrivalDate.strftime('%Y.%m.%d %H:%M') }}</td>
      <td>{{ flight.airportFromId }}</td>
      <td>{{ flight.airportToId }}</td>
      <td>{{ airplane.model }}</td>
      <td>{{ airplane.seats }}</td>
      <td>{{ flight.tickets|length }}</td>
    </tr>
    {% endfor %}
  </table>
  <button class="exportCSV" >Export CSV</button>
  <button class="exportJSON">Export JSON</button>

  {% include "footer.html" %}

  <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/statistics.js') }}"></script>
</body>

</html>