form{
  display: flex;
  align-items: center;
}
form button{
  width: 150px;
  margin-left: 10px;
  display: block;
}
form div{
  padding: 5px;
  margin: 5px;
  display: block;
}
th{
  text-decoration: none;
}
th:hover{
  text-decoration: underline;
  cursor: pointer;
}
tr{
  height: 64px;
}
table, td{
  padding: 10px;
}