table {
  margin-left: 10px;
  border-collapse: collapse;
}
table, td, th {
  border: 1px solid black;
}
button{
  width: 150px;
  display: inline-block;
}

@media print{
  body * :not(.printable, .printable *) {
    display: none;
  }
  *{
    visibility: hidden;
  }
  .printable table, .printable table * {
    visibility: visible;
  }
}
.container{
  text-align: center;
  margin-top: 30px;
}
.container h1, .container table{
  margin: auto;
}
.container button{
  margin-right: 50px;
  margin-left: 50px;
}
select{
  text-align: center;
  width: 200px;
  height: 50px;
}